<?php get_template_part('templates/head'); ?>
<body <?php body_class(); ?>>

  <!--[if lt IE 8]>
    <div class="alert alert-warning">
      <?php _e('You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.', 'roots'); ?>
    </div>
  <![endif]-->

  <?php
    do_action('get_header');
    // Use Bootstrap's navbar if enabled in config.php
    if (current_theme_supports('bootstrap-top-navbar')) {
      get_template_part('templates/header-top-navbar');
    } else {
      get_template_part('templates/header');
    }
  ?>

  <div class="wrap container" role="document">
    <div class="content row">
      <main class="main" role="main">
        <?php include roots_template_path(); ?>
      </main><!-- /.main -->
    </div><!-- /.content -->
  </div><!-- /.wrap -->

  <!-- @if NODE_ENV == 'DEVELOPMENT' -->
<script type='text/javascript'>//<![CDATA[
document.write("<script async src='//HOST:8889/browser-sync-client.1.3.6.js'><\/script>".replace(/HOST/g, location.hostname));
//]]></script>
<!-- @endif -->

  <?php get_template_part('templates/footer'); ?>

<!-- @if NODE_ENV == 'PRODUCTION' -->
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-********-*']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- @endif -->
</body>
</html>
